@page
@using Kendo.Mvc.UI
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div></div>

<div class="text-center">
    <h1 class="display-4">Welcome hola</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1> Kendo UI ASP.NER Core</h1>
    @(Html.Kendo().DatePicker()
        .Name("my-picker")
        )
</div>